  <!--   Open Graph -->
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://apps.texastribune.org/death-row/">
  <meta property="og:title" content="{{ META.project_title }}">
  <meta property="og:description" content="{{ META.description }}">
  <meta property="og:image" content="http://apps.texastribune.org/death-row/assets/images/social/bars.png">

  <!-- Twitter settings -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:site" value="@TexasTribune">
  <meta name="twitter:creator" content="@newsapps">
  <meta name="twitter:title" content="{{ META.project_title }}">
  <meta name="twitter:description" content="{{ META.shareline }}">
  <meta name="twitter:image" content="http://apps.texastribune.org/death-row/assets/images/social/bars.png">