<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block social %}{% endblock %}
  <title></title>
  <link rel=icon href=http://apps.texastribune.org.s3.amazonaws.com/favicon.ico>
  <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create', 'UA-9827490-1', 'auto');ga('send', 'pageview');var googletag = googletag || {};googletag.cmd = googletag.cmd || [];</script>
  <script src="https://use.typekit.net/fpr2ndk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {% block styles %}
  <link rel="stylesheet" href="{{ data.PATH_PREFIX }}styles/main.css">
  {% endblock %}
  <script async src='//www.google-analytics.com/analytics.js'></script>
  {% block parsely %}{% endblock %}
</head>
<body>

{% block header %}{% endblock %}
{% block content %}{% endblock %}

{% block script %}
<script type="text/javascript">
  var CONFIG = {
    projectPath: '{{ data.PATH_PREFIX }}'
  };
</script>
{% endblock %}
{% include 'includes/parsely.html' %}
</body>
</html>
