$chart-bp: 630px;

.chart {
  display: block; 
  font-family: $sans-serif;
  margin: 0 auto;
  width: 100%;

  // Default styles for mobile when "Chosen" input not shown
  select {
    margin: 0 1rem 0 0;
    width: 100%;
  }

  &__header {
    color: $color-dk-gray;
    font-family: $sans-serif;
    font-weight: 800;
    margin: 0;
    text-align: center;

    &--scatter {
      @include font-size($s);
      color: $color-dk-gray;
      font-family: $sans-serif;
      font-weight: 800;
      margin: 0;
      min-height: 2.8rem;
      text-align: center;
    }

    &--demographics {
      @include font-size($s);
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 33%;
      min-height: 32px;

      &.white {
        left: 0;
      }

      &.black {
        left: 33%;
      }

      &.hispanic {
        left: 66%;
      }
    }

    // &--row {
    //   position: absolute;
    //   bottom: 0;
    // }
  }

  &__subhead {
    @extend %subhead;

    a {
      @extend %link;
    }
  }

  &__subtitle {
    @extend %subtitle;
    text-align: left;

    a {
      @extend %link;
    }
  }

  &__info {
    @include clearfix;
    padding: 0 1rem;

    @include susy-media($page-width) {
      padding: 0;     
    }

    &--box-wrapper {
      @include clearfix;
      float: left;
      margin: .5em 0 0;
      text-align: left;

      @include susy-media($prose-width) {
        float: none;
        padding: 0 2em;       
        width: 100%;
      }

      &.title {
        line-height: 1.3;
        width: 80%;

        @include susy-media($prose-width) {
          @include font-size($s);
          width: 100%;
        }
      }

      &.value {
        text-align: center;
        font-weight: 800;
        width: 20%;

        @include susy-media($prose-width) {
          width: 100%;
        }       
      }
    }

    &--box {
      @include clearfix; 
      display: none;  
      min-height: 3em;

      @include susy-media($prose-width) {
        float: left;
        padding: 0 2em;       
        text-align: center;
        width: 25%;
        min-height: 0;
      }

    }

    &--header {
      @include font-size($s);
    }

    &--value {
      @include font-size($l);
      color: $color-primary;
      display: inline-block;
      font-family: $serif;
      line-height: 1.1;

      @include susy-media($prose-width) {
        @include font-size($xl);
        display: block;
        margin: .25rem 0 1rem;
      }
    }
  }

  &__explainer {
    @include font-size($s, .8);
    display: inline-block;
    line-height: 1.2;
    position: absolute;
    top: 0;

    @include susy-media($prose-width) {
      @include font-size($m);
    }

    &--text {
      width: 90%;
      display: none;

      &_highlight {
        font-weight: 800;
      }
    }

  }

  &__scroll--prompt {
    color: $color-dk-gray;
    text-align: center;
    margin: 0;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // left: 0;
    
    p {
      @include font-size($xs);
      font-family: $sans-serif;
      text-transform: uppercase;
    }

    .fa {
      @include font-size($xs);
    }
  }

  &__scroll--position {
    color: $color-dk-gray;
    // float: left;
    margin: 1.5rem 0 0 0;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;

    .fa {
      @include font-size($xs);
      display: block;
      margin: 0 .5em .5em -1em;
    }
  }

  &__legend {
    bottom: 0;
    color: $color-dk-gray;
    display: inline-block;
    font-family: $sans-serif;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;

    &--ut,
    &--tx,
    &--wrapper {
      display: inline-block;
      margin: 0 1.5em 0 0;
    }

    &--key {
      @include font-size($xs);
      display: inline-block;
      line-height: 1.5;
      margin: 0 .5em;
      vertical-align: top;
    }

    &--color_box {
      display: inline-block;
      height: 1em;
      width: 1em;
    }

    .color__tertiary {
      background: $color-tertiary;
    }

    .color__secondary {
      background: $color-secondary;
    }

    &--ut {
      opacity: 0;
    }
  }  

  &__lastSlide {
    display: none;
    opacity: 0;
    text-align: center;
    margin: 0 0 0 1.25rem;

    &--value {
      @include font-size(60, .6);
      color: $color-primary;
      font-family: $serif;
      line-height: 1.1;
      margin: 0 .25em 0 0;

      &_label {
        @include font-size($s, .8);
        display: block;
        color: $color-primary;
        font-family: $serif;
        font-variant: small-caps;
        line-height: 1;
      }
    }

    &--header {
      @include font-size($m, .8);
      color: $color-dk-gray;
      font-family: $sans-serif;
    }
  }

  &__source,
  &__source--scatter {
    @include font-size($xs);
    color: $color-dk-gray;
    text-align: left;
    padding: 0;
    max-width: 90%;

    a {
      color: $color-secondary;

      &:active,
      &:hover {
        text-decoration: underline;
      }
    }
  } 

  &__source {
    @include susy-media($prose-width) {
      padding: 0 0 0 2rem;
      margin: 0;
      max-width: $page-width;
    }
  }

  &__source--scatter {
    @include susy-media($prose-width) {
      padding: 0 0 0 3rem;
      margin: 0 0 1em;
      max-width: $page-width;
    }
  }

  &__enrollment {

    &--label {
      @include font-size($s);
      display: none;
      bottom: 62%;
      position: absolute;
      right: 0;

      // .fa {
      //   @include font-size($xs);
      //   color: $color-dk-gray;
      //   margin: 0 0 0 .25em;
      // }
    }

    &--barlabels {
      @include font-size($s);
      color: $color-dk-gray;
      font-weight: 800;
    }

    &--value {
      color: $color-primary;
      font-weight: 800;

      &.white {
        color: $color-dk-gray;
      }
    }
  }

  &__position--wrapper {
    position: relative;
  }

  &__wrapper {
    margin: 0 1em;
    width: 100%;
  }

  &__container {
    display: inline-block;
    margin: 0;

    &--demographics {
      position: relative;
      width: 32%;
    }

    &--scatter {
      max-width: $prose-width;
      margin: 0 0 2rem;
      width: 100%;

      @include susy-media($prose-width) {
        float: left;
        width: 50%;
        // padding: 0 1rem 0 3rem;
      }
    }
  }

  // Line charts
  &__top {
    font-family: $sans-serif;
    position: relative;
    margin: 16px 1.5em .5em 0;
  }

  &__options {
    margin: 0 0 1rem 0;
    padding: 0 1rem;

    @include susy-media($page-width) {
      padding: 0;
    }

    &--header {
      color: $color-dk-gray;
      font-family: $serif;
      font-weight: 600;
      margin: 0 0 .5rem;
      display: block;

      @include susy-media($prose-width) {
        display: inline-block;
        margin: 0 0 1rem 3rem;
      }
    }

    &--button {
      @include font-size($base);
      border: 0;
      background-color: $white;
      color: $color-dk-gray;
      font-family: $serif;
      margin: 0 1rem .5rem 0;
      padding: 0 4px 3px;

      &.active,
      &:active,
      &:hover {
        border-bottom: 3px solid $color-primary;
        color: $color-dk-gray;
        padding: 0 4px;
      }
    }

    &--reset {
      @include font-size($s);
      background-color: $color-lt-gray;
      border: 0;
      border-bottom: 2px solid $color-lt-gray;
      color: $color-dk-gray;
      display: block;
      font-weight: 600;
      padding: 0 1em;
      min-height: 32px;

      &:active,
      &:hover {
        background-color: $color-gray;
        border-bottom: 2px solid $color-gray;
        color: $white;
      }

      @include susy-media($prose-premobile-bp) {
        display: inline-block;
      }
    }
  }
}

.scroll-space {
  height: 500px;
}

.stuck {
  position: fixed;
  top: 0;
  margin: 0 auto;
  max-width: $page-width;
  width: 100%;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis path {
  stroke: $color-dk-gray;
  stroke-width: 1;

}

.y.axis path {
  stroke: $color-dk-gray;
  stroke-width: 1;
}

.y.axis {
  $empty-ticks: 1;

  @include font-size($xxs);

  @each $tick in $empty-ticks {
    .tick:nth-of-type(#{$tick}) {
      text {
        color: $color-dk-gray;
        display: none;
      }
    } 
  }
}
.x.axis {
  $empty-ticks: 2, 3, 5, 6, 8, 9, 12, 13;

  @include font-size($xxs);

  @each $tick in $empty-ticks {
    .tick:nth-of-type(#{$tick}) {
      text {
        color: $color-dk-gray;
        display: none;
      }
    } 
  }
}

svg .label {
  @include font-size($xs);
}

.line {
  fill: none;
  stroke: $color-dk-gray;
  stroke-width: 1.5px;
}
