.prose {
  @include font-size($base);
  color: $color-dk-gray;
  font-family: $serif;
  line-height: 1.5;
  margin: 1rem 0 0;
  
  > p {
    @extend %left-padding;
    color: $color-dk-gray;
    padding: 0 1rem;
    margin-bottom: 1rem;
    max-width: $prose-width;

    @include susy-media($prose-width) {
      padding: 0 1rem 0 3rem;
    }
    
    a {
      @extend %link;
    }
  }

  //<h2>
  &__subhead {
    @extend %subhead;
    padding: 0 1rem;

    @include susy-media($prose-width) {
      padding: 0 1rem 0 3rem;
    }
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__blockquote {
    @include susy-media($page-width) {
      padding: 0 0 0 1em;
    }

    &--quotemark {
      @include font-size(66, .8);
      color: $color-primary;
      float: left;
      font-family: $serif;
      line-height: 1;
      margin: 0;
    }

    &--quote {
      @include font-size($l);
      color: $color-dk-gray;
      font-family: $serif;
      font-weight: 600;
      line-height: 1.3;
      margin: 0 0 .25rem 1.5em;
    }

    &--caption {
      @include font-size($m);
      color: $color-gray;
      font-family: $sans-serif;
      margin: 0 0 0 1.75em;
    }
  }

  // <ul> 
  &__list {}

  // <li>
  &__list-item {}

  &__disclosure {
    font-style: italic;
  }

  &__republish {
    @include font-size($base);
    font-family: $sans-serif;

    &--body {
      padding: 0 1rem;
      margin-bottom: 1rem;
      max-width: $prose-width;

      @include susy-media($prose-width) {
        padding: 0 1rem 0 3rem;
      }

      p { margin-bottom: 1em;}
    }

    &--buttons {
      padding: 0 1rem;
      margin-bottom: 1rem;
      max-width: $prose-width;

      @include susy-media($prose-width) {
        padding: 0 1rem 0 3rem;
      }
    }
  }

  &__shares {
    @include font-size($s);
    float: none;
    padding: 0 1rem;
    margin: 0 0 .5rem;

    @include susy-media($prose-width) {
      padding: 0 1rem 0 3rem;
    }

    @include susy-media($page-width) {
      padding: 0 1rem;
      float: right;
    }

    li {
      display: inline-block;
      margin: 0 1rem 0 0;
    }

    a {
      color: $white;

      .fa-circle {
        color: $color-secondary;
      }

      &:active,
      &:hover {
        .fa-circle {
          color: $color-primary;
        }
      }
    }


  }

  .ad-slot {
    margin-bottom: 1rem;
    max-width: $prose-width;
    text-align: center;

    &--right-lock {
      margin-bottom: 2rem;
      margin-right: 1rem;
      width: 100%;

      @include susy-media($prose-premobile-bp) {
        float: right;
        margin-left: 1rem;
        width: 40%;
      } 
    }
  }

  &--left-lock {
    @extend %left-lock;
  }

  &--right-lock {
    @extend %right-lock;
  }

}

.series--logo {
  img { 
    margin: .8em auto;
    max-height: 5em;
  }

  &__mobile {
    display: block;

    @include susy-media($prose-width) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include susy-media($prose-width) {
      display: block;
    }
  }

  &__tagline {
    @include font-size($base);
    color: $color-gray;
    font-family: $serif;
    font-weight: 400;
    line-height: 1.2;
    margin: .5rem auto 1rem;
    padding: 0 2rem;
    text-align: center;
  }
}

.storytop {
  $height: 26;
  $height-desktop: 30;
  @include story-header($height+rem, $height-desktop+rem, $height - 4+rem);
  @include clearfix;
  margin: -6em 0 0;

  @include susy-media($prose-desktop-bp) {
    bottom: 0;
    margin: 0;
    position: absolute;
  }

  &--wrapper {
    color: $color-dk-gray;
    height: $height;
    position: relative;

    @include susy-media($prose-desktop-bp) {
      height: $height-desktop;
      margin-bottom: 1rem;
    }
  }

  &--headline {
    @include headline($l, $xl);
  }

  &--headline_sub {
    @include headline($base, $base);
  }

  &--byline {
    @include font-size($s);
    font-family: $sans-serif;
    line-height: 1.3;
    margin: .75rem 0 0;
  
    a {
      color: $color-secondary;
      font-weight: 600;
      text-decoration: none;

      &:active,
      &:hover {
        text-decoration: underline;
      }      
    }
  }

  &--caption {

    p {
      @include font-size($xxs);
      color: $color-gray;
      font-family: $sans-serif;
      line-height: 1.1;
      margin: .5em 1rem;
    }

    @include susy-media($prose-width) {
      p { margin: .5em 3rem; }
    }

    @include susy-media($prose-desktop-bp) {
      float: right;
      max-width: 12em;

      p {
        line-height: 1.3;
        margin: .5em 0;
      }
    }
  }
}

.timeline {
  background-color: transparentize($color-lt-gray, .5);
  padding: .5em 1em;

  &__list {
    @include font-size($xs);
    font-family: $sans-serif;

    li {
      line-height: 1.5;
      margin: 0 0 .75em;
    }
  } 

  &__date {
    @include font-size($m);
    color: $color-primary;
    font-family: $serif;
    font-weight: 600;
    line-height: 1;
    margin: 0 .25em 0 0;
  }

  &__subhead {
    @extend %subhead;
  }

  &__subtitle {
    @extend %subtitle;
  }
}

.republish {
  ol {
    @include font-size($s);
    list-style: inherit;
    list-style-type: decimal;
    margin: 0 0 1em 1em;
  }

  ul {
    margin: 0 0 0 1em;
    list-style-type: circle;
  }
}