{% macro demographics(value) %}
  <div class="chart__position--wrapper">
    <div id="waypoint1"></div>  
    <div class="sticky-charts">
      <div class="chart__position--content">
        <div class="chart__wrapper">
          <div id="chart__top" class="chart__top">
            <div class="chart__explainer">
              <header id="chart__header" class="chart__subhead">
                <h2 class="">{{ value.title }}</h2>
              </header>
              <div class="chart__scroll--position">
              {% for key, x in value %}
                {% if key == 'title' %}
                {% elif key == '1' %}
                <i id="explainerPos{{ key }}" class="fa fa-circle"></i>
                {% else %}
                <i id="explainerPos{{ key }}" class="fa fa-circle-thin"></i>
                {% endif %}
              {% endfor %}
              </div>
              {% for key, x in value %}
                {% if key == 'title' %}
                {% else %}
                <p id="explainer{{ key }}" class="chart__explainer--text">{{ x|safe }}</p>
                {% endif %}
              {% endfor %}
            </div>
            <div id="chart__headers" class="chart__header--row">
              <header class="chart__header chart__header--demographics white">
                <h2>White</h2>
              </header>
              <header class="chart__header chart__header--demographics black">
                <h2>Black</h2>
              </header>
              <header class="chart__header chart__header--demographics hispanic">
                <h2>Hispanic</h2>
              </header>
            </div>
          </div>
        </div> 
        <div id="charts" class="charts">

          <div class="chart__container chart__container--demographics">
            <div id="white"></div>
            <div class="chart__lastSlide">
              <span class="chart__lastSlide--value_label"> Enrollment Gap</span>
              <span class="chart__lastSlide--value">+11</span>
              <span class="chart__lastSlide--value_label">percentage points</span>
            </div>
          </div>

          <div class="chart__container chart__container--demographics">
            <div id="black"></div>
            <div class="chart__lastSlide">
              <span class="chart__lastSlide--value_label"> Enrollment Gap</span>
              <span class="chart__lastSlide--value">-7</span>
              <span class="chart__lastSlide--value_label">percentage points</span>
            </div>
          </div>

          <div class="chart__container chart__container--demographics">
            <div id="hispanic"></div>
            <div class="chart__lastSlide">
              <span class="chart__lastSlide--value_label"> Enrollment Gap</span>
              <span class="chart__lastSlide--value">-26</span>
              <span class="chart__lastSlide--value_label">percentage points</span>
            </div>
          </div>
        </div>
        <div id="chart__bottom" class="chart__wrapper">
          <div class="chart__legend">
            <div class="chart__legend--wrapper chart__legend--tx">
              <div class="chart__legend--color_box color__tertiary"></div>
              <p class="chart__legend--key">Percentage of all 17- to 19-year-olds in Texas</p>
            </div>
            <div class="chart__legend--wrapper chart__legend--ut">
              <div class="chart__legend--color_box color__secondary"></div>
              <p class="chart__legend--key">Percentage of UT-Austin freshmen</p>
            </div>
          </div>
          <p class="chart__source">
            Source: <a href="https://www.dshs.state.tx.us/chs/popdat/downloads.shtm">Department of State Health Services 2015 population projections</a> and the University of Texas at Austin <a href="http://www.utexas.edu/student/admissions/research/admission_reports.html">Automatic Admissions</a> reports.
          </p>
          <div class="chart__scroll--prompt">
            <p>Scroll <i class="fa fa-chevron-down"></i></p>
          </div> 
        </div>
      </div>
    </div>

    <div class="scroll-space"></div>
    <div id="waypoint2"></div>

    <div class="scroll-space"></div>
    <div id="waypoint3"></div>

    <div class="scroll-space"></div>
    <div id="waypoint4"></div>
<!-- 
    <div class="scroll-space"></div>
    <div id="waypoint5"></div> -->

    <div class="scroll-space"></div>
    <div id="waypoint6"></div>
  </div>
{% endmacro %}