{% macro build_timeline(value) %}
  <div class="timeline">
    <header>
      <h3 class="timeline__subhead">A Brief History of the Texas Top 10 Percent Rule</h3>
    </header>
    <ul class="timeline__list">
      <li><span class="timeline__date">1996 - </span>The U.S. 5th Circuit Court of Appeals rules that UT-Austin's law school discriminated against white applicants, effectively ending the use of affirmative action in Texas.</li>
      <li><span class="timeline__date">1997 - </span>The Texas Legislature creates the Top 10 Percent Rule, promising students who graduate at the top of their class automatic admission to the state's public universities.</li>
      <li><span class="timeline__date">2003 - </span>The U.S. Supreme Court upholds the use of affirmative action. UT-Austin begins to again consider race when evaluating non-top 10 percent applicants.</li>
      <li><span class="timeline__date">2008 - </span>Abigail Fisher, a white student from Sugar Land, is denied admission to UT-Austin and later sues the university claiming that she was penalized because of her race.</li>
      <li><span class="timeline__date">2009 - </span>The Texas Legislature tweaks the Top 10 Percent Rule, allowing UT-Austin to cap the number of automatically admitted freshmen at 75 percent of the overall class.</li>
      <li><span class="timeline__date">2012 - </span>Fisher's lawsuit reaches the U.S. Supreme Court.</li>
      <li><span class="timeline__date">2013 - </span>The Supreme Court issues a limited ruling on Fisher's lawsuit, effectively upholding affirmative action.</li>
      <li><span class="timeline__date">2015 - </span>The U.S. Supreme Court agrees to re-hear the Fisher case.</li>
    </ul>
  </div>
{% endmacro %}