  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@texastribune">
  <meta name="twitter:creator" content="@texastribune">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="article">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:image" content="{{ data.PATH_FULL }}assets/images/">
  <meta property="fb:app_id" content="154122474650943">
